:root{font-size: 15px;}
/*body{font-size: 0.9375rem;}*/
.table {font-size:0.95em;}
.table-has-buttons th:last-child{text-align:right;width:15%}
.table-has-buttons td:last-child{text-align:right}

label.required-property:after { color: var(--danger); content: ' *'; display: inline;}
.select2.is-invalid > .selection > .select2-selection{border-color:#cd201f}
.select2.is-invalid.select2-container--focus{box-shadow:0 0 0 2px rgba(205,32,31,.25)}
.field-validation-valid{width:100%;margin-top:.25rem;font-size:80%;color:var(--danger)}

.dataTables_empty{ height: 100px; vertical-align: middle!important; }

.table tr td:focus, .table tr td:active {outline: none;}
.table tr:hover {background-color: #f5f0f0!important;}

.status-icon.status-icon-md{width: .65rem; height: .65rem;}
.status-icon.status-icon-xl{width: 1rem; height: 1rem;} 

.header-brand-img { height: 4rem; }

.pointer-events-none { pointer-events: none; }
